*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:system-ui;
background:black;
color:white;
}

/* pages */

.page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.page1{
background:#333333;
}

.page2{
background:linear-gradient(135deg,#E1F4F3,#FFFFFF);
flex-direction:column;
}

.page3{
background:#706C61;
flex-direction:column;
}

/* title */

.h1{
position:absolute;
top:30px;
left:40px;
font-size:8rem;
font-weight:900;
line-height:0.9;
letter-spacing:6px;

    color:transparent;                  /* keep inside empty */
    -webkit-text-stroke:3px #333333;      /* outline */

}

/* spline */

.spline-bg{
position:absolute;
top:40px;
left:50%;
transform:translateX(-50%);
width:1100px;
height:750px;
opacity:100%;
}

/* info box */

.content-box{
position:absolute;
right:70px;
top:150px;
width:420px;
padding:25px;
background:rgba(0,0,0,.35);
border-radius:14px;
backdrop-filter:blur(10px);
}

/* honeycomb */

.honeycomb-image{
position:absolute;
bottom:0;
left:0;
width:600px;
opacity:85%;
}

/* page 2 header */

.page2-header h1{
position:absolute;
top:40px;
right:60px;
font-size:3rem;
}

.page2-subtitle{
position:absolute;
top:20px;
right:60px;
font-size:.9rem;
}

/* zen box */

.ZENpage2{
position:absolute;
left:80px;
bottom:120px;
width:480px;
padding:35px;
background:rgba(0,0,0,.35);
border-radius:20px;
}

/* carousel */

.carousel{
width:70%;
margin-top:200px;
overflow:hidden;
border:3px solid #333333;
border-radius:2rem;
}

/* moving track */

.carousel-track{
display:flex;
gap:1em;
width:max-content;
animation:scroll 30s linear infinite;
}

/* cards */

.card{
width:240px;
height:420px;
background:#706C61;
border-radius:2em;
padding:10px;
color:#333333;
text-align:center;
font-size:12px;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:1.5em;
margin-bottom:10px;
}

/* animation */

@keyframes scroll{

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}
.outline-text{
    position:absolute;
    top:30px;
    left:40px;

    font-size:250px;
    font-weight:900;
    line-height:0.9;
    letter-spacing:6px;

    color:transparent;                  /* keep inside empty */
    -webkit-text-stroke:3px white;      /* outline */

    animation:outlineGlow 3s ease-in-out infinite alternate;
}

/* glowing outline animation */
@keyframes outlineGlow{

0%{
-webkit-text-stroke:3px white;
text-shadow:
0 0 5px white,
0 0 15px white,
0 0 25px rgba(255,255,255,0.6);
}

50%{
-webkit-text-stroke:3px #ffffff;
text-shadow:
0 0 15px white,
0 0 40px white,
0 0 80px rgba(255,255,255,0.9);
}

100%{
-webkit-text-stroke:3px white;
text-shadow:
0 0 5px white,
0 0 15px white,
0 0 25px rgba(255,255,255,0.6);
}

}